@media (max-width: 1023.99px) {
  .mobile-view {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 5;
    transition: all 300ms linear;
  }

  .z-5 {
    z-index: 5;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .right_100 {
    right: 100%;
  }

  .right_0 {
    right: 0;
  }
}
